<%- include('./partials/header') %>
<div class="container my-5">
  <h3>Add New Note</h3>
  <form action="/addnote" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Note Title</label>
      <input type="text" class="form-control" name="title" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Note Description</label
      >
      <input type="text" class="form-control" name="desc" />
    </div>

    <button type="submit" class="btn btn-primary">add note</button>
  </form>
</div>
